<div class="container">
    <h2>Edit User</h2>
    <form action="/admin/edit-user/<%= user.user_id %>" method="POST">
        <label for="email">Email:</label>
        <input type="text" name="email" value="<%= user.email %>" required>
        
        <label for="username">Username:</label>
        <input type="text" name="username" value="<%= user.username %>" required>
        
        <label for="role">Role:</label>
        <select id="role" name="role">
            <% roles.forEach(function(role) { %>
                <option value="<%= role %>" <%= user.role === role ? 'selected' : '' %>><%= role %></option>
            <% }) %>
        </select> <br>

        <div class="buttons">
            <button type="submit">Save</button>
            <button type="button" onclick="window.location.href='/admin/admin-viewuser/<%= user.user_id %>'" >Back</button>
        </div>
    </form>
</div>